/* start */

.main-box {

	/*background-image: url("/img/background-orange.jpg");*/
	background-color: #F5CB5C;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 15% auto 15%;
}
.box {

	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
	border-width: 0.2vw;
	border-style: solid;
	border color: #333533;
}
.sub-box {

	background-color: #333533 ;
	float: left;
	width: 50%;
	height: 35%;
	display: grid;
	grid-template-columns: 2% auto 2%;
	grid-template-rows: 40% auto 35%;
}
.sub-box-label {

	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
	text-align: center;
	font-size: 3vw;
	color: #F5CB5C;
	font-weight: bold;
}
.sub-box:hover { background-color: #F5CB5C; }
.sub-box:hover > .sub-box-label {color: #000000;}


/* end */
